rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /modelos_ia/{modeloId} {
      allow read, write: if true;
    }
  }
}
